image pv-boot.vfat {
	vfat {
		label = "PVBOOT"
	}
	size = @BOOT_SIZE@
	mountpoint = "/boot"
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = "mbr"
	}
	partition boot {
		image = "pv-boot.vfat"
		partition-type = 0x0c
		bootable = true
	}
	partition root {
		image = "pv-storage.ext4"
		partition-type = 0x83
	}
}
