image @IMAGE@ {
	/* Note: qemu will complain if the SD card size is not a power of two */
	size = 64M
	hdimage {
		partition-table-type = none
		fill = true
	}
	/* Keep these partitions in sync with the fixed partition layout in
	   barebox/common/boards/qemu-virt/qemu-virt-flash.dtsi! */
	partition barebox {
		image = barebox-qemu-virt.img
		offset = 0
		in-partition-table = false
	}
	partition barebox-environment {
		/* empty environment -> use barebox builtin */
		image = barebox-default-environment
		offset = 60M
		in-partition-table = false
	}
	partition barebox-state {
		image = /dev/null
		offset = 62M
		in-partition-table = false
		size = 1M
	}
}

/* vim: set tabstop=8 noexpandtab : */
