image pv-rpi4-boot.vfat {
	vfat {
		label = "PVBOOT"
	}
	size = @BOOT_SIZE@
	mountpoint = "/boot"
}

image pv-rpi4-storage.ext4 {
	ext4 {
		use-mke2fs = true
		# Pantavisor finds its storage by label (PV_STORAGE_DEVICE=LABEL=root).
		label = "root"
	}
	size = @STORAGE_SIZE@
	mountpoint = "/storage"
}

image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = "mbr"
	}
	# The firmware boots from the first FAT partition; boot.scr finds
	# the storage at boot partition + 1.
	partition boot {
		image = "pv-rpi4-boot.vfat"
		partition-type = 0x0c
		bootable = true
	}
	partition root {
		image = "pv-rpi4-storage.ext4"
		partition-type = 0x83
	}
}
